@charset "utf-8";

body {
  background-color: aliceblue;
  width: 100%;
}

html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  color: white;
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
  background-color:#255b89;
}


/*index.php*/
.f-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search [type="text"]{
  width: 250px;
  height: 30px;
  border-radius: 5px;
}
.search [type="submit"] {
  width: 60px;
  height: 35px;
  background-color: rgb(244, 192, 96);
  border-radius: 5px;
}

.account {
  padding-left: 30px;
  padding-right: 20px;
}

.cart {
  padding-left: 10px;
  padding-right: 20px;
}


/*account-in.php*/
.account-in {
  color:black;
  font-size:0.75em;
  width:200px;
  padding: 5px 20px 5px 20px;
  border:1px solid;
  border-color:black;
  background-color: #d1d1d1;
  border-radius: 2px;
}


/*search-out.php*/
.search-inp {
  display: flex;
}
